<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css//home.css" />

    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>

    <div id="cubeEl" class="text"></div>
    <button id="buttonEl">button</button>
    <script type="module" src="./home_2.js"></script>

    <!-- <hr />
    <button onclick="handleClick(event)">button</button>
    <div id="testId" class="text"></div>
    <script src="./home_1.js"></script> -->
  </body>
</html>
